In [1]:
import pandas as pd

In [6]:
path = '../input/installment2/'

In [7]:
fy11 = pd.read_csv(f'{path}ARTS_Data_FY11-reviewed.csv.gz', sep='|', quotechar='"')
fy12 = pd.read_csv(f'{path}ARTS_Data_FY12-reviewed.csv.gz', sep='|', quotechar='"')
fy13 = pd.read_csv(f'{path}ARTS_Data_FY13-reviewed.csv.gz', sep='|', quotechar='"')
fy14 = pd.read_csv(f'{path}ARTS_Data_FY14-reviewed.csv.gz', sep='|', quotechar='"')
fy15 = pd.read_csv(f'{path}ARTS_Data_FY15-reviewed.csv.gz', sep='|', quotechar='"')
fy16 = pd.read_csv(f'{path}ARTS_Data_FY16-reviewed.csv.gz', sep='|', quotechar='"')
fy17 = pd.read_csv(f'{path}ARTS_Data_FY17-reviewed.csv.gz', sep='|', quotechar='"')
fy18 = pd.read_csv(f'{path}ARTS_Data_FY18-reviewed.csv.gz', sep='|', quotechar='"')
fy19 = pd.read_csv(f'{path}ARTS_Data_FY19_Year_To_Date-reviewed.csv.gz', sep='|', quotechar='"')

In [8]:
files = [fy11,
         fy12,
         fy13,
         fy14,
         fy15,
         fy16,
         fy17,
         fy18,
         fy19]

In [10]:
df = pd.concat(files, sort=False)

In [11]:
df.head()

,MissionID,MissionNumber,MsnTailNumber,MissionDate,MissionFY,MissionMonth,MissionWeek,MsnStart,MsnStpOne,MsnStpTwo,...,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ManifestedPassengers,StruckPassengers,PlannedMissionUtilization
0,105.0,110005.0,N772AS,10/1/2010,2011.0,10.0,40.0,KSAT,KMDT,KAEX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,106.0,110006.0,N125MN,10/1/2010,2011.0,10.0,40.0,KSAT,KHRL,MGGT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,107.0,110007.0,N743VA,10/1/2010,2011.0,10.0,40.0,KAEX,MHLM,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,108.0,110008.0,N974AS,10/1/2010,2011.0,10.0,40.0,KAEX,KORD,KMCI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,131.0,110002.0,N120MN,10/1/2010,2011.0,10.0,40.0,KIWA,KOAK,KBFL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_obj = df.select_dtypes(include=['object']).copy()
converted_obj = pd.DataFrame()

for col in df_obj.columns:
    num_unique_values = len(df_obj[col].unique())
    num_total_values = len(df_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:, col] = df_obj[col].astype('category')
    else:
        converted_obj.loc[:, col] = df_obj[col]

df[converted_obj.columns] = converted_obj
del df_obj, converted_obj

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17034 entries, 0 to 1121
Data columns (total 52 columns):
MissionID                    13038 non-null float64
MissionNumber                13038 non-null float64
MsnTailNumber                13037 non-null category
MissionDate                  13038 non-null category
MissionFY                    13038 non-null float64
MissionMonth                 13038 non-null float64
MissionWeek                  13038 non-null float64
MsnStart                     13038 non-null category
MsnStpOne                    12975 non-null category
MsnStpTwo                    9629 non-null category
MsnStpThree                  4395 non-null category
MsnStpFour                   1505 non-null category
MsnStpFive                   170 non-null category
MsnStpSix                    34 non-null category
MsnStpSeven                  18 non-null category
MsnStpEight                  8 non-null category
MsnEnd                       13034 non-null category
msnDelayReason               111 non-null category
msnCancelReason              808 non-null category
msnFlightODCCost             13038 non-null category
msnProposedFines             13038 non-null category
msnEnforcedFines             13037 non-null category
msnGeneralFlightCost         13036 non-null category
msnFlightHoursPlanned        13032 non-null float64
msnFlightHoursActual         13610 non-null category
msnCharterDesignation        13037 non-null category
Status                       0 non-null float64
msnVendor                    8777 non-null category
msnInvoiceNumber             10143 non-null category
MissionQuarter               13038 non-null float64
MissionYear                  13038 non-null float64
MissionTotalCost             13035 non-null category
MissionPassengers            13038 non-null float64
LegPassengers                0 non-null float64
MissionUtilization           1122 non-null float64
LegUtilization               0 non-null float64
- multiple -                 3411 non-null category
Unnamed: 2                   3989 non-null category
Unnamed: 3                   3987 non-null category
Unnamed: 4                   3987 non-null category
Unnamed: 5                   1640 non-null category
Unnamed: 6                   1637 non-null category
Unnamed: 7                   0 non-null float64
Unnamed: 8                   9 non-null category
Unnamed: 9                   9 non-null float64
Unnamed: 10                  9 non-null category
Unnamed: 11                  9 non-null float64
Unnamed: 12                  9 non-null category
Unnamed: 13                  9 non-null category
ManifestedPassengers         1122 non-null float64
StruckPassengers             1122 non-null float64
PlannedMissionUtilization    1122 non-null float64
dtypes: category(33), float64(19)
memory usage: 4.5 MB

In [19]:
df.columns

Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'Status', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'MissionPassengers', 'LegPassengers', 'MissionUtilization',
       'LegUtilization', '- multiple -', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'ManifestedPassengers', 'StruckPassengers',
       'PlannedMissionUtilization'],
      dtype='object')

In [21]:
for file in files:
    print(file.columns)

Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'Status', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'MissionPassengers', 'LegPassengers', 'MissionUtilization',
       'LegUtilization'],
      dtype='object')
Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'Status', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'MissionPassengers', 'LegPassengers', 'MissionUtilization',
       'LegUtilization'],
      dtype='object')
Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'Status', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'MissionPassengers', 'LegPassengers', 'MissionUtilization',
       'LegUtilization'],
      dtype='object')
Index(['msnFlightHoursActual', '- multiple -', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4'],
      dtype='object')
Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'Status', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'MissionPassengers', 'LegPassengers', 'MissionUtilization',
       'LegUtilization'],
      dtype='object')
Index(['msnFlightHoursActual', '- multiple -', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13'],
      dtype='object')
Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'Status', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'MissionPassengers', 'LegPassengers', 'MissionUtilization',
       'LegUtilization'],
      dtype='object')
Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'Status', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'MissionPassengers', 'LegPassengers', 'MissionUtilization',
       'LegUtilization'],
      dtype='object')
Index(['MissionID', 'MissionNumber', 'MsnTailNumber', 'MissionDate',
       'MissionFY', 'MissionMonth', 'MissionWeek', 'MsnStart', 'MsnStpOne',
       'MsnStpTwo', 'MsnStpThree', 'MsnStpFour', 'MsnStpFive', 'MsnStpSix',
       'MsnStpSeven', 'MsnStpEight', 'MsnEnd', 'msnDelayReason',
       'msnCancelReason', 'msnFlightODCCost', 'msnProposedFines',
       'msnEnforcedFines', 'msnGeneralFlightCost', 'msnFlightHoursPlanned',
       'msnFlightHoursActual', 'msnCharterDesignation', 'msnVendor',
       'msnInvoiceNumber', 'MissionQuarter', 'MissionYear', 'MissionTotalCost',
       'ManifestedPassengers', 'StruckPassengers', 'MissionPassengers',
       'PlannedMissionUtilization', 'MissionUtilization'],
      dtype='object')